{{ template "chrome/header.html" . }}

<div class="row">
  <div class="large-12 columns">
    <h1 class="pageheader">{{ .Title }}</h1>
    <hr>
  </div>
</div>

{{ range .Data.Pages }}
<div class="panel clearfix">
    <h3>{{ .LinkTitle }}</h3>
    <div class="large-10 columns">
      <p>{{ .Description }}</p>
    </div>
    <div class="large-2 columns">
      <a href="{{.Permalink}}" class="small button right">Read &#8594;</a>
    </div>
</div>
<!-- 
<div class="row">
  <div class="large-12 columns">
    <h3>{{ .LinkTitle }}</h3>
    <p>{{ .Description }}</p>
    <p class="right"><a href="{{.Url}}">Read &#65515;</a></p>
  </div>
</div>
 -->
{{ end }}

{{ template "chrome/footer.html" . }}
