{{ template "chrome/header.html" . }}

<div class="row">
  <div class="large-12 columns">
    <h1 class="pageheader">{{ .Title }}</h1>
  </div>
</div>

{{ .Description }}

{{ template "chrome/footer.html" . }}
