
.row {
	max-width: 80rem;
}

h1.pageheader {
	padding-top: 15px;
}

h3.subheader {
	margin: 0 0 10px 0;
	font-size: 1.25rem;
}

.sidebar {
	background: #FAFAFA;
	padding: 20px 35px;
}

.sidebar > h5 {
	font-size: 11px;
	font-weight: bold;
}

.sidebar > form > input[type="search"] {
	height: 33px;
}

pre > code {
	font-size: 14px;
	font-weight: initial;
	/*border-left: 1px solid #ddd;*/
}

.hljs {
	margin-bottom: 20px;
}

.footer {
	min-height: 80px;
	padding: 30px 30px 0;
	background: #333;
	color: #ddd;
}

.footer a {
	font-size: 16px;
}

.footer p {
	font-size: 14px;
}

.content-container {
	margin-bottom: 40px;
}
