{{ template "chrome/header.html" . }}

<div class="row">
  <div class="large-12 columns">
    <h1 class="pageheader">{{ .Title }}</h1>
    {{ if .Description }}
    <h3 class="subheader">{{.Description}}</h3>
    {{ end }}
    <hr>
  </div>
</div>

{{ .Content }}

{{ template "chrome/footer.html" . }}
