      </div>
    </div>

    <div class="footer">

      <div class="row">
        <div class="medium-3 columns">
          <ul class="inline-list">
            <li><a href="#" class="tiny button">Actions &#8593;</a></li>
          </ul>
        </div>

        <div class="medium-9 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script>
      $(document).foundation();
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
