<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actions{{ if .Title }} | {{.Title}}{{end}}</title>
    <link rel="stylesheet" href="/css/highlight.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Actions Docs</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        {{ $currentNode := . }}
        <ul class="right">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="{{if $currentNode.IsMenuCurrent "main" . }}active {{end}}has-dropdown">
                <a href="#">{{title .Name}}</a>
                <ul class="dropdown">
                  {{ range .Children }}
                    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.Url}}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
            {{else}}
              <li><a href="{{.Url}}">{{ .Name }}</a></li>
            {{end}}
          {{end}}
        </ul>
      </section>
    </nav>

    <div class="row content-container">
      <div class="large-3 medium-4 columns">
        <div class="hide-for-small">
          <div class="sidebar">
            <h5>Actions Codebox</h5>
            <form>
              <input tabindex="1" id="autocomplete" type="search" placeholder="Search Actions: e.g. http.get" autocomplete="off">
            </form>
            <ul class="side-nav">
              {{ $currentNode := . }}
              {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                  <li class="heading">{{title .Name}} </li>
                  {{ range .Children }}
                      <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.Url}}">{{ .Name }}</a></li>
                  {{ end }}
                {{else}}
                  <li><a href="{{.Url}}">{{ .Name }}</a></li>
                {{end}}
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      
      <div class="large-9 medium-8 columns">