{{ template "chrome/header.html" . }}

<div class="row">
  <div class="large-12 columns">
    <h1 class="pageheader">Welcome to Actions</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>We&rsquo;re happy you want to make some action! </h3>
      <p>
        Actions helps to develop functions, programs, APIs, websites etc. with no need to write a single line of code, they don't depend on any particular programming language or environment.
        Action can be executed using simple interpreter written in any language. <br />
        Right now you can choose from <a href="#">JavaScript</a>, <a href="#">Python</a> and <a href="#">Go</a>.
      </p>
      <h4>Get started</h4>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-5">
            {{ range .Site.Indexes.groups.about.Pages.ByWeight }}
              <li>
                <a href="{{.Permalink}}">{{ .LinkTitle }}</a>
                <br>
                {{.Description}}
              </li>
            {{ end }}
            <li>
              <a href="/examples/">Example actions</a>
              <br>
              Take a look at some actions
            </li>
          </ul>
        </div>
      </div>
      <h4>Examples</h4>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-3">
            {{ range .Site.Indexes.groups.examples.Pages.ByWeight }}
              <li>
                <a href="{{.Permalink}}">{{ .LinkTitle }} example</a>
                <br>
                {{.Description}}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <h4>Developers</h4>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-3">
            {{ range .Site.Indexes.groups.developers.Pages.ByWeight }}
              <li>
                <a href="{{.Permalink}}">{{ .Title }}</a>
                <br>
                {{.Description}}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "chrome/footer.html" }}
